.position {
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
}

.leftPart {
	display: flex;
}

.orientare {
	background: rgba(28, 32, 36, 1);
	bottom: 0px;
	width: 100%;
	margin: 0;
	padding: 1px;
	min-height: 100vh -50 px;
	overflow: auto;
}

.imagine {
	padding-top: 5px;
	width: 32px;
	height: 32px;
}

.imagine:hover {
	transform: rotate(360deg);
	transition: .5s;
}